In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_raw = pd.read_parquet('../../data/02 - trusted/parquet/tb_paradas.parquet')
df_raw

,PARADA,DESCRICAO,USADACONVERSAO,DESATIVADA,FLAGEXTERNA
0,245,ENROLOU PAPEL NA PRENSA,N,N,N
1,246,ENROLOU PAPEL NO ROLO CORRUGAD,N,N,N
2,247,EXCESSO DE AGUA NA COLA,N,N,N
3,248,EXCESSO DE FREIO,N,N,N
4,249,FALHA OPERACIONAL,N,N,N
...,...,...,...,...,...
694,11101,AVARIA MECÂNICA,N,N,N
695,11102,BLOQUEIO MECÂNICO,N,N,N
696,11103,MANCAL AVARIADO,N,N,N
697,11104,CORRENTE AVARIADA,N,N,N
698,11106,QUEBRA DE CORREIA,N,N,N