In [2]:
import pandas as pd

In [3]:
df = pd.read_parquet('../../data/02 - trusted/parquet/tb_clientes.parquet')

In [4]:
df[df['IDCLIENTE'] ==9505]

      IDCLIENTE               CLIENTE CODCLIENTE  CODREPRESENTANTE
3639       9505  SETA EMBALAGENS LTDA      14255                90

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5586 entries, 0 to 5585
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IDCLIENTE         5586 non-null   int64
 1   CLIENTE           5586 non-null   object
 2   CODCLIENTE        5586 non-null   object
 3   CODREPRESENTANTE  5586 non-null   int64
dtypes: int64(2), object(2)
memory usage: 174.7+ KB

In [8]:
df[df.columns] = df[df.columns].astype(str)

In [9]:
df.to_parquet('../../data/02 - trusted/parquet/tb_clientes.parquet')