In [2]:
import pandas as pd

In [3]:
df_raw = pd.read_parquet('../../data/02 - trusted/parquet/tb_maquina.parquet')
df = df_raw.copy()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   MAQUINA         50 non-null     object
 1   TIPO            50 non-null     object
 2   NRDECORES       50 non-null     float64
 3   IDGRUPOMAQUINA  50 non-null     object
dtypes: float64(1), object(3)
memory usage: 1.7+ KB

In [5]:
df

         MAQUINA TIPO  NRDECORES IDGRUPOMAQUINA
0            ACB    7        0.0              0
1         BALPIC    8        0.0              0
2           BAY1    2        0.0              5
3           CAUT    5        0.0              0
4          CAUT2    5        0.0             17
5          CAUT3    5        0.0             14
6          CHAPA    6        0.0             20
7            CHP    6        0.0             20
8           CMAN    5        0.0             15
9           CUR1    3        2.0              0
10          CUR2    1        3.0             23
11          CVP1    2        0.0              5
12          CVP2    2        0.0              0
13          CVP3    2        0.0              0
14          CVR1    1        0.0              0
15          DRO1    1        2.0             23
16          DRO2    1        3.0             23
17          DRO3    1        3.0             22
18          DVMO    7        0.0             12
19          EMB1    3        2.0              0
20          EMB2    3        2.0              3
21          EMB3    3        4.0             18
22           EST    6        0.0             20
23       ESTEIRA    6        0.0             20
24      ESTEIRA2    6        0.0             20
25   ETIQ.MANUAL    6        0.0             20
26         EVOL1    3        4.0              8
27         GAUT1    5        0.0             13
28         GAUT2    5        0.0             13
29          GMAN    5        0.0              0
30        IND.EX    7        0.0              0
31           LAB    8        0.0              0
32       LAB-BHS    8        0.0              0
33      LAB-CONV    8        0.0              0
34       LAB-MQP    8        0.0              0
35          MID1    3        4.0              8
36         MINI1    3        4.0             18
37           OD2    0        0.0              1
38           OD3    0        0.0              1
39          PARA    5        0.0              0
40           RET    7        0.0              0
41         SLOT1    5        0.0             10
42         SLOT2    5        0.0             10
43  UNITIZADORA1    6        0.0             20
44         VINC1    4        0.0              4
45         VINC2    4        0.0              4
46         VINC3    4        0.0              4
47          WAR1    1        4.0             22
48          WAR2    1        4.0             22
49          WAR3    1        4.0             22

In [14]:
df.isnull().sum()

MAQUINA            0
TIPO               0
NRDECORES         32
IDGRUPOMAQUINA    16
dtype: int64

In [18]:
df['IDGRUPOMAQUINA'].fillna(0, inplace=True)
df['NRDECORES'].fillna(0, inplace=True)

C:\Users\norris\AppData\Local\Temp\ipykernel_23264\2287565211.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['NRDECORES'].fillna(0, inplace=True)

In [28]:
df['IDGRUPOMAQUINA'] = df['IDGRUPOMAQUINA'].astype(int)

In [30]:
df[['TIPO','IDGRUPOMAQUINA']] = df[['TIPO','IDGRUPOMAQUINA']].astype(str)

df.to_parquet('../../data/02 - trusted/parquet/tb_maquina.parquet', index=False)