In [ ]:
import pandas as pd
from amcom_adami.src.data.conn_oracle import load_env_oracle
import os

In [2]:
conn = load_env_oracle()

In [ ]:
df = pd.read_sql('SELECT  * FROM BALANCA. INSPECAO_LAB', conn) 1:

/tmp/ipykernel_2495071/515041827.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT  * FROM BALANCA. INSPECAO_LAB', conn)

In [ ]:
(df.isnull().sum()/df.shape[0]*100).sort_values(ascending=False).head(20)

COFCAPA                 100.000000
COFBASE                 100.000000
USUMOD_LIB              100.000000
RCTLTMIN                100.000000
SCT                      99.991018
SCTL                     98.668076
TIPORECLASS              97.667002
USUACE                   96.729710
DATACE                   96.729710
DUREZA                   95.376980
TEOSOL                   94.644678
GRAUCURTA                94.566343
DATAEXPEDIDA             92.637413
OBS1                     92.144778
POROSIDADE               91.518325
DESVIO_TOTAL_GRA         90.174804
DESVIO_TOTAL_UMIDADE     90.174008
QUANT_KEMENE             88.678707
KYMENE                   87.485717
CMT                      86.058063
dtype: float64