In [1]:
import pandas as pd
import sys

sys.path.append('./../../')
from src.data.conn_oracle import connect_oracle_trusted, connect_oracle_refined

In [2]:
conn =connect_oracle_refined()

User: TRIMBOX_REFINED
Host: ORACLE10G
Port: 1521
Service: adami.adami.corporativo

### Tarefcon

In [3]:
df_tarefcon = pd.read_sql("""
    SELECT * 
    FROM TAREFCON 
    WHERE DT_DIADATURMA >= TO_DATE('2022-01-01', 'YYYY-MM-DD')
""", con=conn)

/tmp/ipykernel_2996594/544406592.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_tarefcon = pd.read_sql("""

In [4]:
df_tarefcon['FL_PARADA'].value_counts()

FL_PARADA
1    45672
0    30128
Name: count, dtype: int64

In [5]:
df_tarefcon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75800 entries, 0 to 75799
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID_MAQUINA             75800 non-null  object
 1   FL_PARADA              75800 non-null  object
 2   CD_PARADAOUCONV        75800 non-null  object
 3   TX_TURMA               75800 non-null  object
 4   TX_OP                  75800 non-null  object
 5   ID_PEDIDO              75800 non-null  object
 6   ID_ITEM                75800 non-null  object
 7   VL_REPROGRAMACAO       75800 non-null  int64
 8   QT_ARRANJO             75800 non-null  int64
 9   VL_GRAMATURA           75800 non-null  int64
 10  QT_PROGRAMADA          75800 non-null  int64
 11  VL_CHAPASALIMENTADAS   75800 non-null  int64
 12  QT_PRODUZIDA           75800 non-null  int64
 13  QT_AJUSTE              75800 non-null  int64
 14  VL_DURACAOPREVISTA     75800 non-null  int64
 15  DT_INICIO              75800 non-null  datetime64[ns]
 16  DT_FIM                 75800 non-null  datetime64[ns]
 17  DT_DIADATURMA          75800 non-null  datetime64[ns]
 18  ID_CLIENTE             75800 non-null  object
 19  ID_USUARIO             75800 non-null  object
 20  VL_ORIGEMREGISTRO      75800 non-null  int64
 21  TX_DESCORIGEMREGISTRO  75800 non-null  object
 22  FL_SKIPFEED            75800 non-null  object
 23  TX_OPONDULADA          75800 non-null  object
 24  VL_DURACAO             75800 non-null  int64
 25  CD_FACA                75800 non-null  object
dtypes: datetime64[ns](3), int64(10), object(13)
memory usage: 15.0+ MB

In [6]:
df_tarefcon.shape

(75800, 26)

In [7]:
df_tarefcon.DT_FIM.min()

Timestamp('2022-01-01 22:16:42')

In [8]:
df_tarefcon = df_tarefcon[sorted(df_tarefcon.columns)]
df_tarefcon.to_parquet(
    "../../data/04 - refined/tb_tarefcon.parquet"
)

### Pedidos

In [9]:
df_pedidos = pd.read_sql("""
    SELECT *
    FROM PEDIDOS
    WHERE DT_ENTREGAORIGINAL >= TO_DATE('2022-01-01', 'YYYY-MM-DD')                   
    """, con=conn)
df_pedidos = df_pedidos[sorted(df_pedidos.columns)]
df_pedidos.to_parquet(
    "../../data/04 - refined/tb_pedidos.parquet"
)

/tmp/ipykernel_2996594/1362670758.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_pedidos = pd.read_sql("""

### ITEMS

In [10]:
df_items = pd.read_sql("""
    SELECT *
    FROM ITENS                  
    """, con=conn)
df_items = df_items[sorted(df_items.columns)]
df_items.to_parquet(
    "../../data/04 - refined/tb_itens.parquet"
)

/tmp/ipykernel_2996594/560234945.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_items = pd.read_sql("""

In [11]:
df_items.shape

(70163, 81)

### Facas

In [12]:
df_facas = pd.read_sql("""
    SELECT *
    FROM FACAS                  
    """, con=conn)
df_facas = df_facas[sorted(df_facas.columns)]
df_facas.to_parquet(
    "../../data/04 - refined/tb_facas.parquet"
)

/tmp/ipykernel_2996594/3525371464.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_facas = pd.read_sql("""

### Maquina

In [13]:
df_maquinas = pd.read_sql("""
    SELECT *
    FROM maquina                
    """, con=conn)
df_maquinas = df_maquinas[sorted(df_maquinas.columns)]
df_maquinas.to_parquet(
    "../../data/04 - refined/tb_maquinas.parquet"
)

/tmp/ipykernel_2996594/1784676711.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_maquinas = pd.read_sql("""

### Clientes

In [14]:
df_clientes = pd.read_sql("""
    SELECT *
    FROM Clientes                
    """, con=conn)
df_clientes = df_clientes[sorted(df_clientes.columns)]
df_clientes.to_parquet(
    "../../data/04 - refined/tb_clientes.parquet"
)

/tmp/ipykernel_2996594/2972658365.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_clientes = pd.read_sql("""

### Paradas

In [15]:
df_paradas = pd.read_sql("""
    SELECT *
    FROM paradas                  
    """, con=conn)
df_paradas = df_paradas[sorted(df_paradas.columns)]
df_paradas.to_parquet(
    "../../data/04 - refined/tb_paradas.parquet"
)

/tmp/ipykernel_2996594/2240692658.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_paradas = pd.read_sql("""

In [16]:
df_paradas

,FL_DESATIVADA,FL_EXTERNA,FL_USADACONVERSAO,ID_PARADA,TX_DESCRICAO
0,0,0,1,1,AJUSTE
1,1,0,1,101,MANUTENÇÃO
2,0,0,1,102,FALTA DE INSUMOS
3,0,0,1,103,CLICHÊ
4,0,0,1,104,TINTA
...,...,...,...,...,...
704,0,0,1,14814,FALTA DE CHAPAS
705,0,0,1,14815,FALHA PREFEEDER
706,0,0,1,14816,FALHA PALETIZADOR
707,0,0,1,14817,EST. SAIDA CONGESTIONADA
708,0,0,1,14818,EXTERNA (ENERGIA/AR)